main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}

#downloadsCard {
	max-width: 350px;
}

#aboutCard {
	max-width: 1200px;
	margin: auto;
	align-content: center;
}

.image-frame {
	display: inline-block;
	width: auto;
}

.z { /* Fix auto-indent */
}

.image-frame img {
	width: auto;
	max-width: 100%;
	height: auto;
}

h1, h2, h3 {
	margin-top: 0;
}

/* Common.MINI_THRESHOLD */
@media (max-width: 600px) {
	main {
		margin-left: 5px;
		margin-right: 5px;
	}
}