/**
	CSS Classes for pages/home.html
*/

header {
	background-color: var(--accent-color);
}

nav {
	background-color: var(--accent-color-2);
	padding-top: 5px;
	padding-bottom: 5px;
}

h2, h3, h4, h5, h6 {
	margin-top: 2px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
}

h1 {
	text-align: center;
}

h2 {
	font-size: 1.25rem;
	font-weight: initial;
}

h1, h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

main {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1800px;
	margin: auto;
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	overflow: auto;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

/* Pages.Home.MINI_THRESHOLD */
@media (max-width: 755px) {
	main {
		padding-left: 5px;
		padding-right: 5px;
	}
}

#Directory {
	margin: auto;
	width: calc(7.5em * 6);
	--gw-sized-down: 0;
}

.z { /* Fix auto-indent */
}

#Directory .tab-strip-tab {
	flex-basis: 7.5em;
}

@media (max-width: calc(7.5em * 6.5)) {
	#Directory {
		width: 100%;
		--gw-sized-down: 1;
	}

	.z {
	}

	#Directory .tab-strip-tab {
		flex-basis: 2em;
	}
}

#textPanes {
	flex-basis: 600px;
	overflow: auto;
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.text-pane-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	flex-wrap: wrap;
}

.z {
}

.text-pane-row ul {
	margin-top: 0px;
}

#avi {
	flex-basis: 600px;
	flex-grow: 0;
	flex-shrink: 1;
}

ul {
	padding-left: 20px;
}

#updateCard {
	width: 500px;
}

#updateContent {
	max-height: 400px;
	overflow-y: auto;
}

table {
	border: none;
}

td, th {
	border-top: none;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	width: auto;
}

th {
	text-align: left;
	padding-right: 5px;
}

.button-list {
	padding: 0;
	display: inline-block;
}

.z {
}

.button-list li {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
	max-width: 81px;
	font-size: 0.8em;
	padding-bottom: 5px;
}

figure {
	margin: 2px;
}

figcaption {
	border-bottom: 0px;
	margin: 0px;
}

#buttons {
	width: 290px;
}

#buttonsContent {
	text-align: center;
}

#webrings {
	max-width: 250px;
}

	#webrings li {
		margin-bottom: 5px;
	}

#bisexualism {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 1px;
	text-align: center;
}

#focusfirst-webring p {
	margin: 0;
	text-align: center;
}

#focusfirst-webring .webring-prev {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-gap: 1px;
	align-items: center;
}

#emailListForm {
	margin: 10px;
	max-width: 250px;
}

#emailListFormInputs {
	margin-left: 10px;
	margin-right: 10px;
}

#thoughtsList {
	max-height: 150px;
	max-width: 250px;
	width: 250px;
	overflow-y: auto;
	padding: 0;
}

.z {
}

#thoughtsList li {
	display: block;
	margin-bottom: 10px;
}

#thoughtsList article {
	display: grid;
	grid-template-rows: 0fr 1fr 0fr;
	background-color: var(--content-color);
}

.thought-preamble {
	margin-bottom: 2px;
}