/*#region Body */
html, body {
	background-color: black;
	color: white;
	height: 100%;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
	color: white;
}

.subveil {
	height: 100%;
}

.main-page {
}

.banner {
	text-align: center;
	background-color: darkblue;
	width: calc(100% - 10px);
	height: 20px;
	padding-top: 1px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
}

.banner-buffer {
	height: 25px;
}

.fixed-header {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}

.fixed-footer {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
}
/*#endregion */

/*#region Form */
form {
	border: 1px solid;
	padding: 5px;
	border-color: white;
	width: fit-content;
}

.inputDiv {
	margin-bottom: 10px;
}

div.inputDiv > label {
	text-align: left;
	width: 150px;
}

div.inputDiv * {
	display: inline-block;
}

input[type="text"], input[type="password"] {
	background-color: black;
	color: white;
}

input[type="checkbox"] {
	appearance: none;
	background-color: black;
	margin: 0;
	vertical-align: middle;
	color: black;
	width: 13px;
	height: 13px;
	border: 2px solid white;
	border-radius: 3px;
}

.z { /* Fix auto-indent */
}

input[type="checkbox"]:checked {
	background-color: mediumpurple;
}

input[type="radio"] {
	appearance: none;
	background-color: black;
	margin: 0;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	border: 2px solid white;
	border-radius: 50%;
}

.z { /* Fix auto-indent */
}

input[type="radio"] + label {
	margin-right: 5px;
}

input[type="radio"]:checked {
	background-color: mediumpurple;
}

textarea {
	color: white;
	background-color: black;
}

select {
	color: white;
	background-color: black;
}

button:not(.popup-close), input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::file-selector-button, .button-like {
	background-color: rgb(38, 38, 38);
	color: white;
	border: 1px solid rgb(91, 154, 213);
}

.z { /* Fix auto-indent */
}

button:hover:not(.popup-close), input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="file"]::file-selector-button:hover, .button-like:hover {
	background-color: rgb(25, 25, 25);
	border-color: rgb(73, 124, 171);
}
/*#endregion */

/*#region Table*/
table, th, td {
	border: 1px solid;
	border-color: mediumpurple;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.tableHeader {
	border-bottom: 2px solid;
	border-bottom-color: rebeccapurple;
	text-align: center;
	font-weight: bold;
}
/*#endregion */

/*#region Card */
.card {
	margin: 10px;
	border: 1px solid white;
	padding: 10px;
	box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.4)
}

.card-header {
	background-color: rebeccapurple;
	color: white;
	width: calc(100% + 15px);
	font-size: larger;
	margin: -10px;
	margin-bottom: 10px;
	padding-left: 5px;
}
/*#endregion*/
