/**
	CSS Classes for Common.Controls
*/

/*#region Popup Common*/
.popup {
	box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.4);
	border: 1px solid var(--accent-color);
}

.popup-content {
	flex-grow: 1;
	padding: 5px;
	min-height: 100px;
	min-width: 250px;
}

.popup-header {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	background-color: var(--accent-color);
}

.popup-title {
	flex-grow: 1;
	vertical-align: middle;
	padding-left: 5px;
	font-size: 2em;
	color: var(--heading-color);
}

.popup-close {
	border: 2px;
	display:flex;
	flex-direction: row;
	align-items: center;
	font-size: 2em;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	height: 100%
}

.popup > footer {
	font-style: italic;
	font-size: small;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
}
/*#endregion*/

/*#region Dialog*/
.dialog {
	position: absolute;
	z-index: 1;
	background-color: var(--content-color-2);
}

.dialog-header {
	z-index: 2;
	cursor: move;
}

.dialog-shortcut-table {
	border: none;
	width: 100%;
}

.z {
}

.dialog-shortcut-table td {
	border-top: none;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	width: auto;
}
/*#endregion*/

/*#region Modal */
.veil {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(200,200,200,0.4);
}

.modal {
	position: relative;
	background-color: var(--content-color-2);
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 11;
	display: flex;
	flex-direction: column;
}

/* Common.MINI_THRESHOLD */
@media (max-width: 600px) {
	.modal {
		width: auto;
		max-width: 600px;
	}

	.tab-strip-tab {
		font-size: 0.75em !important;
	}

	.vertical-tabs > .tab-strip-tab span {
		padding: 2px !important;
	}
}

.popup-content {
	overflow: auto
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}
/*#endregion */

/*#region Tabstrip*/
.tab-strip {
	display: flex;
	flex-direction: row;
	flex-basis: 2em;
	flex-grow: 0;
	flex-shrink: 0;
}

.vertical-tabs .tab-strip {
	flex-direction: column;
}

.tab-strip-tab {
	height: 100%;
	flex-basis: 7em;
	flex-grow: 0;
	position: relative;
	border-right: none;
	border-color: var(--clickable-border-color);
}

.vertical-tabs > .tab-strip-tab {
	height: auto;
	flex-basis: 30px;
	text-align: center;
}

.z { /* Fix auto-indent */
}

.tab-strip-tab:hover {
	border-color: var(--clickable-border-color);
}

.tab-strip-tab span {
	user-select: none;
	font-size: inherit;
}

:not(.vertical-tabs) > .tab-strip-tab span {
	position: absolute;
	bottom: 0;
	margin: 2px;
	margin-left: 4px;
}

.vertical-tabs > .tab-strip-tab span {
	padding: 10px;
}

.tab-strip-tab.selected {
	background-color: var(--tab-selected-color);
}

.tab-gutter {
	flex-grow: 1;
	border-left: 1px solid var(--clickable-border-color);
}

.vertical-tabs > .tab-gutter {
	border-left: none;
	border-top: 1px solid var(--clickable-border-color);
}
/*#endregion*/

/*#region Dropdown Menu*/
.dropdown-menu {
	display: flex;
	flex-direction: column;
}

.z { /* Fix auto-indent */
}

.dropdown-menu > .tab-strip-tab {
	border: none;
}

.tab-strip-tab.child {
	border-right: 1px solid var(--clickable-border-color);
	border-top: none;
	z-index: 1;
	width: calc(100% - 1px);
}

.dropdown-menu .chevron {
	position: relative !important;
	float: right !important;
	margin-right: 10px !important;
	margin-top: 10px !important;
	margin-bottom: 0px !important;
	vertical-align: bottom !important;
}

.dropdown-menu.vertical .tab-strip {
	display: flex;
	flex-direction: column;
	flex-basis: 30px;
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.dropdown-menu.vertical .tab-strip-tab {
	width: calc(100% - 1px);
	flex-basis: 30px;
	border-right: 1px solid var(--clickable-border-color);
	border-bottom: 0;
	font-size: initial !important;
}

.z {
}

.dropdown-menu.vertical .tab-strip-tab.child {
	margin-top: -1px;
	margin-left: 25%;
	width: calc(75% - 1px);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid var(--clickable-border-color);
	box-shadow: -5px 7px 3px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-menu.vertical .tab-gutter {
	border-top: 2px solid var(--clickable-border-color);
}

.tab-text {
	text-decoration: inherit;
}
/*#endregion*/

/*#region Page Control*/
.page-control {
	display: flex;
	flex-direction: column;
}

.z { /* Fix auto-indent */
}

.page-control.loading {
	opacity: 0.3;
}

.page-control .tab-strip-tab {
	border-bottom: none;
}

.page-control.vertical-tabs {
	display: grid;
	grid-template-columns: auto 1fr;
}

.z { /* Fix auto-indent */
}

.page-container {
	flex-grow: 1;
	border: 2px inset var(--general-border-color);
	padding: 3px;
	min-height: 0;
	min-width: 0;
	background-color: var(--content-color-2);
}

.z { /* Fix auto-indent */
}

.page-container .zero-state-control {
	margin-left: -3px; /*padding*/
	margin-top: -3px;
	margin-right: -3px;
	margin-bottom: -3px;
	width: calc(100% + 6px);
	height: calc(100% + 6px);
}

.page-control-page {
	display: none;
	height: 100%;
	overflow: auto;
}

.z { /* Fix auto-indent */
}

.page-control-page.selected {
	display: block;
}
/*#endregion */

/*#region Comments*/
.comments-region {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.comments-region blockquote {
	max-width: unset !important;
	overflow-wrap: break-word;
}

.comments-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	max-width: 500px;
	gap: 5px;
}

.comment-box-container {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

.comment-form-title {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
	font-size: 1.25em;
}

.comment-article {
	border-left: 2px solid var(--general-border-color);
	padding: 4px;
	background-color: var(--content-color);
	display: flex;
	flex-direction: column;
}

.comment-article > button {
	max-width: fit-content;
	height: 30px;
}

.comment-header {
	display: grid;
	grid-template-columns: 0fr 1fr 1fr;
	gap: 5px;
	align-items: baseline;
}

.comment-article .comment-article {
	margin-left: 10px;
	margin-top: 10px;
	padding-right: 0px;
}

.comment-id, .comment-timestamp {
	font-size: 0.85em;
	font-weight: lighter;
	font-style: italic;
}

.comment-timestamp {
	text-align: end;
}

.commenter-name {
	font-size: 1.1em;
	font-weight: bold;
}
/*#endregion*/