/*#region Themes*/
.theme-purple {
	--background-color: #1A0D26;
	--content-color: #331A4D;
	--content-color-2: #000000;
	--input-background: #000000;
	--input-text: #FFFFFF;
	--accent-color: #663399;
	--accent-color-hover: #A853FC;
	--accent-color-2: #4D2673;
	--text-color: #FFFFFF;
	--button-face: #262626;
	--button-hover: #191919;
	--button-border: #5B9AD5;
	--button-border-hover: #497CAB;
	--button-text: #FFFFFF;
	--clickable-border-color: #FFFFFF;
	--link-color: #FFFFFF;
	--general-border: #FFFFFF;
	--scrollbar-track: #2C1642;
	--inline-banner-color: #404040;
	--inline-banner-warn-color: #766000;
	--inline-banner-pos-color: #195725;
	--icon-color: #FFFFFF;
}

.theme-test {
	--background-color: #FAF5AE;
	--content-color: #DBBA73;
	--content-color-2: #DBBA4C;
	--input-background: #FAF5AE;
	--input-text: #000000;
	--accent-color: #C8FAA2;
	--accent-color-hover: #91C750;
	--accent-color-2: #91C750;
	--text-color: #000000;
	--button-face: #D5D8DC;
	--button-hover: #C6C9CC;
	--button-border: #5B9AD5;
	--button-border-hover: #5087BA;
	--button-text: #000000;
	--clickable-border-color: #0118AB;
	--link-color: #0118AB;
	--general-border: #3D62DC;
	--scrollbar-track: #FAF5AE;
	--inline-banner-color: #B3B3B3;
	--inline-banner-warn-color: #EDC200;
	--inline-banner-pos-color: #3FD95E;
	--icon-color: #000000;
}
/*#endregion*/

/*#region Body */
html {
}

html, body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
}

body {
	min-height: 100vh;
	background-color: var(--background-color);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background: var(--accent-color);
}

.z { /* Fix auto-indent */
}

::-webkit-scrollbar-thumb:hover {
	background: var(--accent-color-hover);
}

a {
	color: var(--link-color);
}

#subveil {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

.banner {
	text-align: center;
	background-color: var(--accent-color);
	width: calc(100% - 10px);
	height: 20px;
	padding-top: 1px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.banner-left {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.banner-link {
	background-color: var(--content-color);
	border-radius: 25px;
	max-width: 320px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.z {
}

.banner-left > * {
	margin-left: 2px;
	margin-right: 5px;
	margin-bottom: 2px;
}

.banner-buffer {
	height: 25px;
}

.fixed-header {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.fixed-footer {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
}
/*#endregion */

/*#region Form */
form {
	border: 1px solid;
	padding: 5px;
	border-color: var(--general-border);
	width: fit-content;
	background-color: var(--content-color);
}

.z {
}

form.transparent-form {
	border: none;
	padding: 0px;
	width: auto;
	background-color: inherit;
}

.transparent-fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

form > h1, form > h2, form > h3, form > h4, form > h5, form > h6 {
	margin: 0;
	text-align: center;
}

.transparent-fieldset > legend {
	display: none !important;
}

.form-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.z {
}

.form-footer > * {
	margin: 3px;
	min-height: 30px;
}

.input-line > label {
	text-align: left;
	width: 150px;
}

.input-line * {
	display: inline-block;
}

.input-line {
	margin-bottom: 5px;
}

.z {
}

.input-flex {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.input-flex-line {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 5px;
}

.z {
}

.input-vertical-line {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 6px;
}

.z {
}

.input-vertical-line > label {
	padding-bottom: 2px;
}

.input-grid {
	display: grid;
	grid-template-columns: 1fr 0fr;
	grid-auto-rows: minmax(25px, auto);
	grid-column-gap: 5px;
	grid-row-gap: 2px;
}

	.input-grid > .full-line {
		grid-column: 1 / -1;
	}

.z {
}

.input-line label, .input-flex-line label, .input-vertical-line label, .input-grid label {
	cursor: pointer;
}

.input-line > button, .input-flex-line > button, .input-vertical-line > button, .input-grid button {
	height: 30px;
}

.z { /* Fix auto-indent */
}

.input-flex-line > label {
	text-align: left;
	flex-grow: 1;
	padding-right: 10px;
}

input[type="text"], input[type="password"], input[type="number"] {
	background-color: var(--input-background);
	color: var(--input-text);
}

.z { /* Fix auto-indent */
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="number"]:invalid {
	box-shadow: inset 0px 0px 5px 2px var(--accent-color);
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="checkbox"] {
	appearance: none;
	background-color: var(--input-background);
	margin: 0;
	vertical-align: middle;
	color: var(--input-background);
	width: 13px;
	height: 13px;
	border: 2px solid var(--general-border);
	border-radius: 3px;
}

.z { /* Fix auto-indent */
}

input[type="checkbox"]:checked {
	background-color: var(--accent-color);
}

input[type="checkbox"]:hover {
	cursor: pointer;
}

input[type="radio"] {
	appearance: none;
	background-color: var(--input-background);
	margin: 0;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	border: 2px solid var(--general-border);
	border-radius: 50%;
}

.z { /* Fix auto-indent */
}

input[type="radio"] + label {
	margin-right: 5px;
}

input[type="radio"]:checked {
	background-color: var(--accent-color);
}

input[type="radio"]:hover {
	cursor: pointer;
}

textarea {
	color: var(--input-text);
	background-color: var(--input-background);
}

select {
	color: var(--input-text);
	background-color: var(--input-background);
}

button.button-like {
	padding: unset;
	text-align: unset;
}

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::file-selector-button, .button-like {
	background-color: var(--button-face);
	color: var(--button-text);
	border: 1px solid var(--button-border);
}

.z {
}

button[disabled], input[type="button"][disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="file"][disabled]::file-selector-button, .button-like[disabled] {
	background-color: rgb(25, 25, 25);
	border: 1px solid rgb(71, 71, 71);
	color: lightgray;
}

.z {
}

button[disabled]:hover, input[type="button"][disabled]:hover, input[type="submit"][disabled]:hover, input[type="reset"][disabled]:hover, input[type="file"][disabled]::file-selector-button:hover, .button-like[disabled]:hover {
	background-color: rgb(25, 25, 25);
	border: 1px solid rgb(71, 71, 71);
	cursor: not-allowed;
}

.z { /* Fix auto-indent */
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="file"]::file-selector-button:hover, .button-like:hover {
	background-color: var(--button-hover);
	border-color: var(--button-border-hover);
	cursor: pointer;
}

button[aria-pressed="true"] {
	background-color: var(--accent-color);
}
/*#endregion */

/*#region Table*/
table, th, td {
	border: 1px solid;
	border-color: var(--accent-color);
	border-collapse: collapse;
}

table {
	width: 100%;
}

caption {
	font-style: italic;
}

thead {
	border-bottom: 2px solid;
	border-bottom-color: var(--accent-color);
	text-align: center;
	font-weight: bold;
}

tr > th {
	text-align: left;
}
/*#endregion */

/*#region Inline Banner */
.inline-banner-wrapper {
	display: flex;
}

	.inline-banner-wrapper > .inline-banner {
		width: 100%;
	}

.inline-banner {
	margin: 10px;
	border: 1px solid var(--general-border);
	background-color: var(--inline-banner-color);
	padding: 10px;
	word-break: break-word;
	display: flex;
	align-items: center;
	gap: 5px;
}

	.inline-banner.center {
		justify-content: center;
	}

.z {
}

.inline-banner.warning {
	background-color: var(--inline-banner-warn-color);
}

.inline-banner.positive {
	background-color: var(--inline-banner-pos-color);
}

.inline-banner-buttonWrpr {
	height: 100%;
	flex-grow: 1;
}

.z {
}

.inline-banner-buttonWrpr > button {
	height: calc(100% + 10px);
	margin-top: -5px;
	float: right;
}
/*#endregion*/

/*#region Card */
.card {
	margin: 10px;
	border: 1px solid var(--general-border);
	padding: 10px;
	box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.4);
	word-break: break-word;
	background-color: var(--content-color-2);
}

.card-header {
	background-color: var(--accent-color);
	color: var(--input-text);
	font-size: larger;
	margin: -10px;
	margin-bottom: 10px;
	padding-left: 5px;
	display: grid;
	grid-template-columns: 1fr 0fr;
	column-gap: 5px;
}

.card footer {
	font-style: italic;
	font-size: small;
}
/*#endregion*/

/*#region Chevrons*/
/*https://codepen.io/stepher/pen/yLOaEOP*/
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.card-chevron {
	height: 0px;
	width: 25px;
	margin-top: 5px;
}

.td-chevron {
	margin-top: 3px;
	margin-bottom: -3px;
	margin-right: 10px;
	float: right;
}
/*#endregion*/

/*#region Tooltips*/
.tooltip-target {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted var(--general-border);
}

.z { /* Fix auto-indent */
}

.tooltip-target .tooltip-text {
	visibility: hidden;
	background-color: var(--accent-color);
	color: var(--text-color);
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

.tooltip-text.right {
	top: -5px;
	left: calc(100% + 10px);
}

.tooltip-text.left {
	top: -5px;
	right: calc(100% + 10px);
}

.tooltip-text.top {
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.tooltip-text.bottom {
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.tooltip-target:hover .tooltip-text {
	visibility: visible;
}

.tooltip-target:focus .tooltip-text {
	visibility: visible;
}

.sr-only {
	position: absolute;
	left: -99999999px;
}
/*#endregion*/

/*#region Elements*/
kbd {
	font-family: Consolas;
	border: 1px solid var(--general-border);
	border-radius: 3px;
	padding: 1px;
	margin: 3px;
}

button[role="link"], .button-like[role="link"] {
	text-decoration: underline;
}

*[role="button"]:hover, *[role="link"]:hover {
	cursor: pointer;
}

.clickable:hover {
	cursor: pointer;
}
/*#endregion*/

/*#region Other*/
.ans-toggler {
	cursor: pointer;
}

.hide-until-focus {
	position: absolute;
	left: -99999999px;
}
.hide-until-focus:focus {
	position: revert;
	left: revert;
}

.icon {
	color: var(--icon-color);
}
/*#endregion*/