/*#region Themes*/
.theme-ocean {
	--background-color: #090B1A;
	--content-color: #1F2555;
	--content-color-2: #10122B;
	--input-background-color: #000000;
	--input-text-color: #FFFFFF;
	--input-selected-color: #306396;
	--tab-selected-color: #2F3780;
	--accent-color: #2F3780;
	--accent-color-hover: #10122B;
	--accent-color-2: #10122B;
	--text-color: #FFFFFF;
	--button-face-color: #262626;
	--button-face-color-hover: #191919;
	--button-face-color-disabled: #191919;
	--button-border-color: #5B9AD5;
	--button-border-color-hover: #497CAB;
	--button-border-color-disabled: #474747;
	--button-text-color: #FFFFFF;
	--clickable-border-color: #FFFFFF;
	--link-color: #FFFFFF;
	--general-border-color: #FFFFFF;
	--scrollbar-track-color: #2F3780;
	--scrollbar-thumb-color: #306396;
	--inline-banner-color: #404040;
	--inline-banner-warn-color: #766000;
	--inline-banner-pos-color: #195725;
	--icon-color: #FFFFFF;
	--heading-color: #FFFFFF;
	--box-shadow-color: #64646466;
}

.theme-vera {
	--background-color: #1A0D26;
	--content-color: #331A4D;
	--content-color-2: #27143A;
	--input-background-color: #000000;
	--input-text-color: #FFFFFF;
	--input-selected-color: #775FE8;
	--tab-selected-color: #663399;
	--accent-color: #663399;
	--accent-color-hover: #4D2673;
	--accent-color-2: #4D2673;
	--text-color: #FFFFFF;
	--button-face-color: #262626;
	--button-face-color-hover: #191919;
	--button-face-color-disabled: #191919;
	--button-border-color: #5B9AD5;
	--button-border-color-hover: #497CAB;
	--button-border-color-disabled: #474747;
	--button-text-color: #FFFFFF;
	--clickable-border-color: #FFFFFF;
	--link-color: #FFFFFF;
	--general-border-color: #FFFFFF;
	--scrollbar-track-color: #663399;
	--scrollbar-thumb-color: #775FE8;
	--inline-banner-color: #404040;
	--inline-banner-warn-color: #766000;
	--inline-banner-pos-color: #195725;
	--icon-color: #FFFFFF;
	--heading-color: #FFFFFF;
	--box-shadow-color: #64646466;
}

.theme-paper {
	--background-color: #EDEDED;
	--content-color: #FFFFEE;
	--content-color-2: #FFFFFF;
	--input-background-color: #FFFFFF;
	--input-text-color: #000000;
	--input-selected-color: #D9BDA5;
	--tab-selected-color: #D9BDA5;
	--accent-color: #E1CAA4;
	--accent-color-hover: #614C2A;
	--accent-color-2: #EBE1C3;
	--text-color: #000000;
	--button-face-color: #E5DECF;
	--button-face-color-hover: #E5CBBA;
	--button-face-color-disabled: #B8B2A5;
	--button-border-color: #615747;
	--button-border-color-hover: #615747;
	--button-border-color-disabled: #8D95A8;
	--button-text-color: #000000;
	--clickable-border-color: #615747;
	--link-color: #551A8B;
	--general-border-color: #000000;
	--scrollbar-track-color: #EDEDED;
	--scrollbar-thumb-color: #E1CAA4;
	--inline-banner-color: #B3B3B3;
	--inline-banner-warn-color: #EDC200;
	--inline-banner-pos-color: #3FD95E;
	--icon-color: #000000;
	--heading-color: #000000;
	--box-shadow-color: #64646466;
}

.theme-serin {
	--background-color: #FEFAE0;
	--content-color: #D7D7B6;
	--content-color-2: #FFF194;
	--input-background-color: #FFFFFF;
	--input-text-color: #000000;
	--input-selected-color: #B5CC6A;
	--tab-selected-color: #B5CC6A;
	--accent-color: #606C38;
	--accent-color-hover: #606C38;
	--accent-color-2: #9FA872;
	--text-color: #283618;
	--button-face-color: #FEFAE0;
	--button-face-color-hover: #F4F07D;
	--button-face-color-disabled: #A6A6A6;
	--button-border-color: #DFDCC5;
	--button-border-color-hover: #DFDCC5;
	--button-border-color-disabled: #DFDCC5;
	--button-text-color: #2E2E2E;
	--clickable-border-color: #DFDCC5;
	--link-color: #551A8B;
	--general-border-color: #606C38;
	--scrollbar-track-color: #32381D;
	--scrollbar-thumb-color: #606C38;
	--inline-banner-color: #B3B3B3;
	--inline-banner-warn-color: #EDC200;
	--inline-banner-pos-color: #3FD95E;
	--icon-color: #000000;
	--heading-color: #FFFFFF;
	--box-shadow-color: #64646466;
}
/*#endregion*/

/*#region Body */
html {
}

html, body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
}

body {
	min-height: 100vh;
	background-color: var(--background-color);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--accent-color-hover);
}

a {
	color: var(--link-color);
}

#subveil {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

.banner {
	text-align: center;
	background-color: var(--accent-color);
	color: var(--heading-color);
	width: calc(100% - 10px);
	height: 1.25em;
	padding-top: 1px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow: hidden;
	white-space: nowrap;
}

.banner-left {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.banner-center {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-between;
}

.banner-center button {
	flex-grow: 1;
	margin-left: 2px;
	margin-right: 2px;
}

.banner-link {
	background-color: var(--content-color);
	border-radius: 25px;
	max-width: 320px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.banner-left > * {
	margin-left: 2px;
	margin-right: 5px;
	margin-bottom: 2px;
}

.banner-buffer {
	height: 1.25em;
	padding-top: 1px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
}

.fixed-header {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.fixed-footer {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1;
}

span[role=heading], .heading-text {
	color: var(--heading-color);
}

nav.breadcrumb {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
	padding: 10px;
}

nav.breadcrumb ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav.breadcrumb li {
	display: inline-block;
}

nav.breadcrumb li + li::before {
	display: inline-block;
	margin: 0 0.25em;
	transform: rotate(15deg);
	border-right: 0.1em solid var(--general-border-color);
	height: 0.8em;
	content: "";
}

nav.breadcrumb [aria-current="page"] {
	font-weight: 700;
	text-decoration: none;
}

nav.breadcrumb a {
	display: inline-block;
	padding: 4px;
	border-radius: 20px;
	background-color: var(--link-background-color);
}

.three-header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	text-align: center;
	gap: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--border-color);
	padding: 5px;
}

@media (max-width: 450px) {
	.three-header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.three-header-left, .three-header-right {
	width: fit-content;
}

.three-header-left {
	justify-self: flex-start;
}

.three-header-right {
	justify-self: flex-end;
}
/*#endregion */

/*#region Form */
form {
	border: 1px solid;
	padding: 5px;
	border-color: var(--general-border-color);
	width: fit-content;
	background-color: var(--content-color);
}

form.transparent-form {
	border: none;
	padding: 0px;
	width: auto;
	background-color: inherit;
}

.transparent-fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

form > h1, form > h2, form > h3, form > h4, form > h5, form > h6 {
	margin: 0;
	text-align: center;
}

.transparent-fieldset > legend {
	display: none !important;
}

.form-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.form-footer > * {
	margin: 3px;
	min-height: 30px;
}

.input-line > label {
	text-align: left;
	width: 150px;
	min-width: 100px;
}

.input-line * {
	display: inline-block;
}

.input-line {
	margin-bottom: 5px;
}

.input-flex {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.input-flex-line {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 5px;
}

.input-horizontal-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	row-gap: 4px;
}

.input-horizontal-flex > .input-flex-line, .input-horizontal-flex > .input-vertical-line {
	width: auto;
	margin-right: 10px;
}

.input-vertical {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 5px;
	margin-right: 5px;
}

.input-vertical-line {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 6px;
}

.input-vertical-line > label, .input-vertical > label {
	padding-bottom: 2px;
}

.input-grid {
	display: grid;
	grid-template-columns: minmax(75px, 1fr) minmax(75px, auto);
	grid-auto-rows: minmax(25px, auto);
	grid-column-gap: 5px;
	grid-row-gap: 2px;
	align-items: baseline;
}

.input-grid > .full-line {
	grid-column: 1 / -1;
}

.input-line label, .input-flex-line label, .input-vertical-line label, .input-grid label {
	cursor: pointer;
}

.input-line > button, .input-flex-line > button, .input-vertical-line > button, .input-grid button {
	height: 30px;
}

.input-flex-line > label {
	text-align: left;
	flex-grow: 1;
	padding-right: 10px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="submit"] {
	background-color: var(--input-background-color);
	color: var(--input-text-color);
	-moz-appearance: textfield;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="number"]:invalid, input[type="email"]:invalid, textarea:invalid {
	box-shadow: inset 0px 0px 5px 2px var(--input-selected-color);
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="checkbox"] {
	appearance: none;
	background-color: var(--input-background-color);
	margin: 0;
	vertical-align: middle;
	color: var(--input-background-color);
	width: 13px;
	height: 13px;
	border: 2px solid var(--general-border-color);
	border-radius: 3px;
}

input[type="checkbox"]:checked {
	background-color: var(--input-selected-color);
}

input[type="checkbox"]:hover {
	cursor: pointer;
}

input[type="radio"] {
	appearance: none;
	background-color: var(--input-background-color);
	margin: 0;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	border: 2px solid var(--general-border-color);
	border-radius: 50%;
}

input[type="radio"] + label {
	margin-right: 5px;
}

input[type="radio"]:checked {
	background-color: var(--input-selected-color);
}

input[type="radio"]:hover {
	cursor: pointer;
}

textarea {
	color: var(--input-text-color);
	background-color: var(--input-background-color);
	min-height: 15px;
	min-width: 60px;
}

select {
	color: var(--input-text-color);
	background-color: var(--input-background-color);
}

button.button-like {
	padding: unset;
	text-align: unset;
}

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::file-selector-button, .button-like {
	background-color: var(--button-face-color);
	color: var(--button-text-color);
	border: 1px solid var(--button-border-color);
}

button[disabled], input[type="button"][disabled], input[type="submit"][disabled], input[type="reset"][disabled], input[type="file"][disabled]::file-selector-button, .button-like[disabled] {
	background-color: var(--button-face-color-disabled);
	border: 1px solid var(--button-border-color-disabled);
	color: lightgray;
}

button[disabled]:hover, input[type="button"][disabled]:hover, input[type="submit"][disabled]:hover, input[type="reset"][disabled]:hover, input[type="file"][disabled]::file-selector-button:hover, .button-like[disabled]:hover {
	background-color: var(--button-face-color-disabled);
	border: 1px solid var(--button-border-color-disabled);
	cursor: not-allowed;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="file"]::file-selector-button:hover, .button-like:hover {
	background-color: var(--button-face-color-hover);
	border-color: var(--button-border-color-hover);
	cursor: pointer;
}

button[aria-pressed="true"] {
	background-color: var(--tab-selected-color);
	font-weight: bold;
	font-style: italic;
}

button[role="link"], .button-like[role="link"] {
	text-decoration: underline;
}

*[role="button"]:hover, *[role="link"]:hover {
	cursor: pointer;
}

.clickable:hover {
	cursor: pointer;
}

#gwFileDownloadLink, #gwFilePickerInput {
	display: none;
}
/*#endregion */

/*#region Table*/
table, th, td {
	border: 1px solid;
	border-color: var(--accent-color);
	border-collapse: collapse;
}

table {
	width: 100%;
}

caption {
	font-style: italic;
}

thead {
	border-bottom: 2px solid;
	border-bottom-color: var(--accent-color);
	text-align: center;
	font-weight: bold;
}

tbody th {
	text-align: left;
}

.color-cell {
	height: 21.5px;
	width: 100px;
}
/*#endregion */

/*#region Inline Banner */
.inline-banner-wrapper {
	display: flex;
}

.inline-banner-wrapper > .inline-banner {
	width: 100%;
}

.inline-banner {
	margin: 10px;
	border: 1px solid var(--general-border-color);
	background-color: var(--inline-banner-color);
	color: var(--text-color);
	padding: 10px;
	word-break: break-word;
	display: flex;
	align-items: center;
	gap: 5px;
}

.inline-banner.center {
	justify-content: center;
}

.inline-banner.warning {
	background-color: var(--inline-banner-warn-color);
}

.inline-banner.positive {
	background-color: var(--inline-banner-pos-color);
}

.inline-banner-buttonWrpr {
	height: 100%;
	flex-grow: 1;
}

.inline-banner-buttonWrpr > button {
	height: calc(100% + 10px);
	margin-top: -5px;
	float: right;
}
/*#endregion*/

/*#region Card */
.card {
	margin: 10px;
	border: 1px solid var(--general-border-color);
	padding: 10px;
	box-shadow: 0 0 10px 1px var(--box-shadow-color);
	word-break: break-word;
	background-color: var(--content-color-2);
}

.card-header {
	background-color: var(--accent-color);
	color: var(--heading-color);
	font-size: 1.25em;
	margin: -10px;
	margin-bottom: 10px;
	padding-left: 5px;
	display: grid;
	grid-template-columns: 1fr 0fr;
	column-gap: 5px;
}

.card footer {
	font-style: italic;
	font-size: small;
}
/*#endregion*/

/*#region Figure*/
figure footer {
	font-style: italic;
	font-size: small;
}

figcaption {
	border-bottom: 1px solid var(--accent-color);
	margin-bottom: 5px;
}
/*#endregion*/

/*#region Chevrons*/
/*https://codepen.io/stepher/pen/yLOaEOP*/
.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.card-chevron {
	height: 0px;
	width: 25px;
	margin-top: 5px;
}

.td-chevron {
	margin-top: 3px;
	margin-bottom: -3px;
	margin-right: 10px;
	float: right;
}
/*#endregion*/

/*#region Tooltips*/
.tooltip-target {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted var(--general-border-color);
}

.tooltip-target .tooltip-text {
	visibility: hidden;
	background-color: var(--accent-color);
	color: var(--text-color);
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

.tooltip-text.right {
	top: -5px;
	left: calc(100% + 10px);
}

.tooltip-text.left {
	top: -5px;
	right: calc(100% + 10px);
}

.tooltip-text.top {
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.tooltip-text.bottom {
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.tooltip-target:hover .tooltip-text {
	visibility: visible;
}

.tooltip-target:focus .tooltip-text {
	visibility: visible;
}
/*#endregion*/

/*#region Elements*/
/*#endregion*/

/*#region Other*/
.sr-only {
	position: absolute;
	left: -99999999px;
	top: 0px;
}

.ans-toggler {
	cursor: pointer;
}

.hide-until-focus {
	position: absolute;
	left: -99999999px;
}

.hide-until-focus:focus {
	position: revert;
	left: revert;
}

.icon {
	fill: var(--icon-color);
	width: 16px;
	height: 16px;
}

.icon.unloaded-icon {
	width: auto !important;
	height: auto !important;
}

.icon-container, gw-icon {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.icon-button {
	display: flex;
	align-items: center;
}

kbd {
	font-family: Consolas;
	border: 1px solid var(--general-border-color);
	border-radius: 3px;
	padding: 1px;
	margin: 3px;
}

:focus-visible {
	outline-width: 5px;
	outline-color: var(--input-selected-color);
	z-index: 100;
}

.nb-word {
	display: flex;
	flex-direction: row;
	width: max-content;
}

.nb-word + .nb-word {
	margin-left: 0.3em;
}

.hidden {
	display: none !important;
}
/*#endregion*/
