/*#region HTML Elements */

body {
	min-width: 320px;
	font-size: large;
}

h1 {
	margin: 0;
}

h2 {
	text-align: center;
}

h2, h3, h4, h5, h6 {
	margin-bottom: 5px;
	margin-top: 5px;
}

table {
	border: none;
	margin-bottom: 20px;
}

td, th {
	border-top: none;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	width: auto;
}

th {
	text-align: left;
	width: 110px;
}

.z {
}

th.long {
	width: 220px;
}

main {
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: minmax(320px, auto);
	grid-auto-rows: auto;
	grid-row-gap: 10px;
	max-width: 1000px;
	background-color: #331A4D;
}

li > span {
	padding-left: 3px;
}

/*#endregion*/

/*#region Classes */

.card {
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%
}


.page-control-page {
	border: none;
	width: 100%;
	height: 100%;
}

.link-buttons {
	padding-left: 0;
}

.z {
}

.link-buttons li {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rebeccapurple;
	border-radius: 25px;
	width: 100%;
	max-width: 320px;
	text-align: center;
	min-height: 44px;
	min-width: 44px;
	line-height: 44px;
}

.link-buttons a {
	display: inline-block;
	width: 100%;
}

.z {
}

.link-buttons li:hover, .link-buttons li:focus-within {
	cursor: pointer;
	box-shadow: 0px 0px 34px 0px #D0ADED;
}
/*#endregion*/

/*#region IDs*/

#subveil {
	background-color: #1A0D26;
}

#dVera {
	text-align: center;
	font-family: 'Lucida Handwriting', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: #4D2673;
}

.z {
}

#dVera h1 {
	background-color: rebeccapurple;
}

#dVera ul, #dVera li {
	display: inline-block;
}

#dVera ul {
	padding: 0;
}

#dVera li {
	padding-left: 5px;
	padding-right: 5px;
}

#miscDiv {
	width: calc(100% - 2px);
	margin-left: auto;
	margin-right: auto;
}

#miscCtrl {
	height: 500px;
}

/*#endregion*/
