#content {
	padding: 10px;
}

#gameForm {
	max-width: 700px;
	margin: auto;
}

#btnAddChipType {
	height: 30px;
}

#playersForm {
	min-width: fit-content;
	margin: auto;
	margin-top: 10px;
}

#playersContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#btnAddPlayer {
	width: 100%;
	min-width: 300px;
}

#btnCalcWinnings {
	width: 100%
}

#gameCards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

#chipsFieldset {
	display: flex;
	flex-direction: column;
}

.chiptype-fieldset {
	display: flex;
	align-items: flex-end;
	justify-content: space-evenly;
	margin-bottom: 5px;
	flex-wrap: wrap;
}

#stakesCard, #chipsCard {
	flex-grow: 1;
}

#stakesCard {
	min-width: 150px;
}

#chipsCard {
	min-width: 268px;
}

input[type="number"] {
	width: 75px;
}

#playersContent input[type="number"] {
	width: 30px
}

input[type="text"] {
	width: 100px;
}

table {
	border: none;
}

td, th {
	border-top: none;
	border-left: none;
	border-right: none;
}

.input-vertical-line {
	margin-left: 2px;
	margin-right: 2px;
	width: auto;
}

.player-top {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.player-name-field {
	width: auto !important;
}

.player-net-line {
	min-width: 50px;
}

.player-fieldset-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.hidden {
	display: none;
}

button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.icon {
	padding-right: 5px;
}
