body {
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

h2 {
	border-bottom: 1px solid var(--text-color);
}

h2, h3, h4, h5, h6 {
	margin: 0px;
	margin-bottom: 5px;
}

h1 {
	text-align: center;
	margin: 0px;
	font-size: 32px;
}

.subtitle {
	text-align: center;
	font-style: italic;
	font-size: small;
	margin: 0px;
}

.z {
}

h1.subtitle {
	font-size: 20px;
}

header {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.z {
}

header > a {
	height: 44px;
	line-height: 44px;
	text-align: center;
	flex-basis: 90px;
	background-color: var(--accent-color);
	color: var(--heading-color);
	border-radius: 25px;
}

.title-container {
	flex-grow: 1;
}

.z {
}

.title-container > h1 {
	flex-grow: 1;
}

.title-container > button {
	flex-basis: 100px;
}

p {
	margin-top: 0px;
	margin-bottom: 32px;
}

.card {
	box-shadow: none;
}

.z {
}

.centerimg-container {
	width: 100%;
	margin-bottom: 32px;
	text-align: center;
}

.centerimg {
	overflow: hidden;
	display: inline-block;
	text-align: left;
}

.z {
}


.centerimg img {
	max-height: 500px;
	width: 100%;
}

.card.right {
	width: 20%;
	max-width: 350px;
	min-width: 200px;
	overflow: hidden;
	float: right;
	clear: right;
	margin-top: 2px;
	margin-right: 0px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.z {
}

.card.right img {
	width: 100%;
}

.centertext-container {
	text-align: center;
	width: 100%;
	margin-bottom: 32px;
}

blockquote, .centertext {
	display: inline-block;
	max-width: 775px;
}

hr {
	margin-bottom: 32px;
}

.page-text {
	max-width: 1100px;
	margin: auto;
	margin-top: 10px;
	padding: 5px;
	background-color: var(--content-color);
}

	.page-text.transparent {
		background-color: inherit !important;
	}

.stanza {
	max-width: 775px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.poetry-line {
	margin-bottom: 7px;
}

.white-bkg {
	background-color: white;
	padding: 2px;
}

nav {
	margin: auto !important;
	margin-top: 10px !important;
	width: fit-content;
	padding: 10px;
}
