/**
	CSS Classes for Common.Controls
*/

/*#region Popup Common*/
.popup {
	box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.4);
	border: 1px solid rebeccapurple;
}

.popup-content {
	flex-grow: 1;
	padding: 5px;
	min-height: 100px;
	min-width: 250px;
}

.popup-header {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	background-color: rebeccapurple;
}

.popup-title {
	flex-grow: 1;
	vertical-align: middle;
	padding-left: 5px;
	font-size: 30px;
}

.popup-close {
	color: gray;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	height: 100%
}
/*#endregion*/

/*#region Dialog*/
.dialog {
	position: absolute;
	z-index: 1;
	background-color: black;
}

.dialog-header {
	z-index: 2;
	cursor: move;
}
/*#endregion*/

/*#region Modal */
.veil {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(200,200,200,0.4);
}

.modal {
	position: relative;
	background-color: black;
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 11;
	display: flex;
	flex-direction: column;
}

.popup-content {
	overflow: auto
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}
/*#endregion */

/*#region Tabstrip*/
.tab-strip {
	display: flex;
	flex-direction: row;
	flex-basis: 30px;
	flex-grow: 0;
	flex-shrink: 0;
}

.tab-strip-tab {
	height: 100%;
	flex-basis: 100px;
	flex-grow: 0;
	flex-shrink: 0;
	position: relative;
	border-right: none;
	border-color: white;
}

.z { /* Fix auto-indent */
}

.tab-strip-tab:hover {
	border-color: white;
}

.tab-strip-tab span {
	position: absolute;
	bottom: 0;
	margin: 2px;
	margin-left: 4px;
	user-select: none;
}

.tab-strip-tab.selected {
	background-color: rebeccapurple;
}

.tab-gutter {
	flex-grow: 1;
	border-left: 1px solid white;
}
/*#endregion*/

/*#region Dropdown Menu*/
.dropdown-menu {
	display: flex;
	flex-direction: column;
}

.z { /* Fix auto-indent */
}

.dropdown-menu > .tab-strip-tab {
	border: none;
}

.tab-strip-tab.child {
	border-right: 1px solid white;
	border-top: none;
	z-index: 1;
	background-color: rgb(80, 80, 80);
}

.dropdown-menu .chevron {
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	vertical-align: bottom;
}

.mini .dropdown-menu .tab-strip {
	display: flex;
	flex-direction: column;
	flex-basis: 30px;
	flex-grow: 0;
	flex-shrink: 0;
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.mini .dropdown-menu .tab-strip-tab {
	width: 100%;
	border-right: 1px solid white;
	border-bottom: 0;
}

.mini .tab-strip-tab.child {
	margin-left: 10px;
	width: calc(100% - 10px);
	border-bottom: 1px solid white;
}

.mini .tab-gutter {
	border-top: 2px solid white;
}
/*#endregion*/

/*#region Page Control*/
.page-control {
	display: flex;
	flex-direction: column;
}

.z { /* Fix auto-indent */
}

.page-control.loading {
	opacity: 0.3;
}

.page-control .tab-strip-tab {
	border-bottom: none;
}

.z { /* Fix auto-indent */
}

.page-container {
	flex-grow: 1;
	border: 2px inset white;
	padding: 3px;
	min-height: 0;
	min-width: 0;
}

.z { /* Fix auto-indent */
}

.page-container .zero-state-control {
	margin-left: -3px; /*padding*/
	margin-top: -3px;
	margin-right: -3px;
	margin-bottom: -3px;
	width: calc(100% + 6px);
	height: calc(100% + 6px);
}

.page-control-page {
	display: none;
	height: 100%;
	overflow: auto;
}

.z { /* Fix auto-indent */
}

.page-control-page.selected {
	display: block;
}
/*#endregion */
