form {
	margin: auto;
}

p.short {
	margin-bottom: 5px;
}

th {
	background-color: var(--accent-color-2);
}

table {
	background-color: var(--content-color-2);
}

.layout-table, .layout-table th, .layout-table tr, .layout-table td {
	border: none;
}

figure {
	margin: unset;
}

.layout-table td {
	padding: 3px;
}

.small-cells td {
	font-size: 0.8em;
}