td {
	border-top: none;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	width: auto;
}

table {
	border: none;
	width: 100%;
}

.row-label {
	/*width: 150px;*/
}

#mainPage {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	height: calc(100% - 25px - 10px); /*Header, margin-top*/
	align-items: center
}

#mainPage.frame {
	margin: 0;
}

#imgContainer {
	flex-shrink: 1;
	width: auto;
}

#imgElement {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	flex-shrink: 1;
}

#metaContainer {
	width: 0;
	min-width: 100%;
}

#commentContainer {
	flex-shrink: 1
}
