/**
	CSS Classes for Character.html
*/

#subveil {
	height: 100%;
}

.main-page {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	height: calc(100% - 25px - 10px); /*Header, margin-top*/
}

.content {
	display: flex;
	flex-direction: row;
	height: 100%;
}

#LeftPane {
	display: flex;
	flex-direction: column;
	flex-basis: 200px;
	flex-grow: 0;
	flex-shrink: 0;
	height: 100%;
	margin-right: 20px;
}

#RightPane {
	flex-basis: 500px;
	flex-grow: 1;
	flex-shrink: 0;
	height: 100%;
}

td {
	border-top: none;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	width: auto;
	word-wrap:break-word;
}

table {
	border: none;
	margin-bottom: 20px;
}

.row-label {
	width: 100px;
}

.color-cell {
	height: 21.5px;
}

#divVert {
	display: none;
}

#leftPaneCollapseBtn {
	display: none;
}

#sexTooltip {
	width: 150px;
}

/* Pages.Character.MINI_THRESHOLD */
@media (max-width: 750px) {
	.main-page {
		margin-left: 5px;
		margin-right: 5px;
	}

	.content {
		justify-content: center;
	}

	#RightPane.mini-hide {
		display: none;
	}

	#divVert {
		display: block;
		border-left: 1px solid rgb(91, 154, 213);
	}

	#leftPaneCollapseBtn {
		display: block;
		align-self: center;
		height: 75px;
		width: 0px;
		padding-left: 0px;
		padding-right: 14px;
		border-left: 0px;
	}

	#LeftPane {
		margin-left: 16px;
	}

	#RightPane {
		flex-basis: 300px;
	}

	.tab-strip-tab {
		flex-basis: 90px;
	}
}