/**
	CSS Classes for index.html
*/

h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	margin-top: 0;
	margin-bottom: 10px;
	text-align: center;
}

.main-page {
	margin-left: 20px;
	margin-right: 20px;
}

@media (max-width: 940px) {
	.main-page {
		margin-left: 5px;
		margin-right: 5px;
	}
}

#Directory {
	margin: auto;
	width: calc(150px * 6);
}

.z { /* Fix auto-indent */
}

#Directory div.tab-strip-tab {
	flex-basis: 150px;
}

@media (max-width: 940px) {
	#Directory {
		width: 100%;
	}
	#Directory div.tab-strip-tab {
		flex-basis: 30px;
	}
}

#content {
	display: flex;
	flex-direction: row;
	overflow: auto;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

#textPanes {
	flex-basis: 600px;
	overflow: auto;
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.text-pane-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	flex-wrap: wrap;
}

.text-pane-row ul {
	margin-top: 0px;
}

#avi {
	flex-basis: 600px;
	flex-grow: 0;
	flex-shrink: 1;
}

ul {
	padding-left: 20px;
}

.hidden {
	display: none;
}

#updateCard {
	width: 500px;
}
