#subveil{
	height: 100%;
}

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

#mainPage {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	min-height: calc(100% - 25px); /*Header*/
	min-width: 800px;
	flex-wrap: wrap;
	align-content: flex-start;
}

#leftPane {
	min-width: 715px;
	flex-basis: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-grow: 2;
}

#collectionsPane {
	flex-basis: 480px;
	flex-grow: 0;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}

#collectionImg {
	min-width: 200px;
	max-width: 480px;
	min-height: 200px;
	max-height: 480px;
}

#collectionImgWrapper {
	width: 480px;
	height: 480px;
}

#collectionsInfoPane {
	padding: 10px;
}

#collectionsCard {
	min-width: 200px;
	flex-basis: 300px;
	margin-right: 20px;
}

.divider-horiz {
	width: 100%;
	border-top: 1px solid rebeccapurple;
}

#rightPane {
	flex-grow: 1;
	min-width: 450px;
	flex-basis: 450px;
	overflow: auto;
	margin-left: 10px;
}

audio {
	margin-bottom: 10px;
}

.songTitleContainer {
	padding-right: 5px;
	cursor: pointer;
}

.songTitleContainer h3 {
	display: inline-block;
}

.songTitleContainer span {
	float: right;
}

.hidden {
	display: none;
}

td {
	border-top: none;
	border-left: none;
	border-right: none;
	padding-top: 5px;
	width: auto;
}

table {
	border: none;
	margin-bottom: 20px;
}

.row-label {
	width: 175px;
}