body {
	width: calc(100% - 10px - 10px); /*padding*/
	height: calc(100% - 10px - 10px); /*padding*/
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
}

h2, h3, h4, h5, h6 {
	margin: 0px;
	margin-bottom: 5px;
	border-bottom: 1px solid white;
}

h1 {
	text-align: center;
	margin: 0px;
	font-size: 32px;
}

.z {
}

h1.subtitle {
	font-size: 20px;
}

.titleContainer {
	display: flex;
	flex-direction: row;
}

.z {
}

.titleContainer > h1 {
	flex-grow: 1;
}

.titleContainer > button {
	flex-basis: 100px;
}

p {
	margin-top: 0px;
	margin-bottom: 32px;
}

.card {
	box-shadow: none;
}

.z {
}

.centerimg-container {
	width: 100%;
	margin-bottom: 32px;
	text-align: center;
}

.centerimg {
	overflow: hidden;
	display: inline-block;
	text-align: left;
}

.z {
}


.centerimg img {
	max-height: 500px;
	width: 100%;
}

.card.right {
	width: 20%;
	max-width: 350px;
	min-width: 200px;
	overflow: hidden;
	float: right;
	clear: right;
	margin-top: 2px;
	margin-right: 0px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.z {
}

.card.right img {
	width: 100%;
}

.blockquote-container {
	text-align: center;
	width: 100%;
	margin-bottom: 32px;
}

.blockquote {
	display: inline-block;
	max-width: 775px;
	font-style: italic;
}

hr {
	margin-bottom: 32px;
}

.page-text {
	max-width: 1100px;
	margin: auto;
	margin-top: 10px;
}

.stanza {
	max-width: 775px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.poetry-line {
	margin-bottom: 7px;
}

.white-bkg {
	background-color: white;
	padding: 2px;
}